.home-title {
  font-size: 2.4rem;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 2rem 2rem 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  background: linear-gradient(90deg, #00ffae 0%, transparent 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  
.episode-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem; 

    padding: 2rem;
}